---
layout: archive
title: Tags
permalink: /tags/
description: "Posts listed by Tags"
author_profile: false
comments: false
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %}

<!-- Start tag array header -->
<div class="tags-list">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
  	<a href="#{{ this_word | slugify | downcase }}" class="post-tag"><span class="term">{{ this_word }}</span> <span class="count">({{ site.tags[this_word].size }})</span></a>
  {% endunless %}{% endfor %}
</div>
<!-- End tag array header -->
  <hr/>
<!-- Start tag list -->
{% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
	<article>
	<h2 id="{{ this_word | slugify | downcase }}">{{ this_word }}</h2>
		<ul>
    {% for post in site.tags[this_word] %}{% if post.title != null %}
      <li><span class="post-date">{{ post.date | date_to_string }}-</span><a class="tag-post-title" href="{{ base_path }}{{ post.url }}" title="{{ post.title | escape }}">{{ post.title | escape }}</a> </li>
    {% endif %}{% endfor %}
		</ul>
	</article><!-- /.hentry -->
{% endunless %}{% endfor %}
<!-- End tag list -->